Icon_1 Icon "UPfile.ico"
Icon_2 Icon "UPfile.ico"
Icon_3 Icon "UPfile.ico"
Icon_4 Icon "UPfile.ico"
Icon_5 Icon "UPfile.ico"
Icon_6 Icon "UPfile.ico"
Resource_1 RCData "Arrow.ani"
PngImage_1 RCData "HecOpen.png"
